<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <application
        android:name=".components.core.Lumetro"
        android:configChanges="screenSize|orientation|screenLayout|navigation"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/lumetro_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/lumetro_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.MPL"
        tools:targetApi="33">
        <activity
            android:name=".main.MainActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="screenSize|orientation|screenLayout|navigation"
            android:exported="true"
            android:launchMode="singleInstance"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fle.FirstLaunchExperienceActivity"
            android:configChanges="screenSize|orientation"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".components.core.error.CriticalErrorActivity"
            android:exported="true" />
    </application>

</manifest>