name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.2
    - name: set up JDK 21
      uses: actions/setup-java@v5.2.0
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Setup Android SDK
      uses: android-actions/setup-android@v3.2.2
      with:
          cmdline-tools-version: 13114758
    - name: Build Lumetro Debug with Gradle
      run: ./gradlew assembleDebug
    - name: Cache
      uses: actions/cache@v5.0.3
      with:
        path: app/build/
        key: lumetro_cache
    - name: Upload artifact
      uses: actions/upload-artifact@v6.0.0
      with:
         name: Lumetro-Dev
         compression-level: 9
         path: app/build/outputs/apk/debug/app-debug.apk
